.App {
  text-align: center;
}

.AppContainer {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 188px);
}

.AppHeader {
  height: 56px;
}

.AppFooter {
  height: 132px;
}

.hk-logo {
  font-family: "Sarina", cursive;
}

.backgroundImage {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,body,#wrapper {
  height:100%;
  margin:0;
  padding:0;
}

#wrapper {
  position: relative;
}
.footer {
  background-color: white;
  color: black;
  font-family: "BlinkMacSystemFont";
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bgImage {
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.containerTitle {
  font-family: 'Montserrat', sans-serif;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /*Keeps the content on a single line*/
  animation: typing 2s steps(40, end)
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.footerTitle {
  font-weight: bolder;
}

.navLinks {
  margin-left: 10%
}

.footerLogo {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  font-size: 75px;
}

.verticalLine {
  border-right: medium solid black;
  height: 100px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.fa {
  margin-right: 25px;
  font-size: 25px;
}

.headerNavItem {
  margin-right: 75px;
}

.btn-outline-primary {
  color: white !important;
  border-color: white !important;
  margin: 10px !important;
}

.btn-outline-primary:hover {
  background-color: white !important;
  color: black !important;
}

.signature {
  justify-content: flex-start;
  font-size: smaller;
}

.containerFlex {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
  padding: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}