$footer-height: 100px;

.App {
  text-align: center;
}

.AppContainer {
  overflow: hidden;
  height: calc(100vh - #{$footer-height});
}

.AppFooter {
  height: $footer-height;
  overflow: hidden;
}

.followUs {
  .fa {
    margin: 8px;
  }
  min-width: 150px;
}

.contactUs {
  .fa {
    margin-right: 14px;
  }
}

.backgroundImage {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,body,#wrapper {
  height:100%;
  margin:0;
  padding:0;
}

#wrapper {
  position: relative;
}
.footer {
  display: flex;
  justify-content: space-between;
}

.homectr {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;

  &__text {
    width: 60%;
    position: relative;

    &--image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;

      &--ctr {
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 24px;
      }
    }
  }

  &__map {
    width: 40%;

    &>iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.containerTitle {
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 24px;

  p {
    margin: 0;
  }
}

.btn--ghost {
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  color: white;
  padding-top: 10px;
  margin: 0 16px;
  transition: border-bottom 300ms,
              transform 300ms;

  &:hover {
    border-bottom: 2px solid white;
    transform: scale(1.5);
  }

  &:focus {
    outline: none;
  }
}

.flexColumn {
  display: flex;
  flex-direction: column;
  margin: 8px 24px;
}

.footerTitle {
  font-weight: bolder;
}

.navLinks {
  margin-left: 10%
}

.footerLogo {
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  font-size: 75px;
}

.verticalLine {
  border-right: medium solid black;
  height: 100px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.fa {
  font-size: 25px;
}

.headerNavItem {
  margin-right: 75px;
}

.btn-outline-primary {
  color: white !important;
  border-color: white !important;
  margin: 10px !important;
  border-radius: 0 !important;
  transition: border 300ms;
}

.btn-outline-primary:hover {
  color: white !important;
  border-bottom: 2px solid white;
  background: none !important;
}

.signature {
  justify-content: flex-start;
  font-size: smaller;
  align-self: center;
}

.containerFlex {
  width: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
  padding: 120px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}